@import url('https://fonts.googleapis.com/css2? family= Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900 & display=swap');

/* familia de fuentes: 'Playfair Display SC', serif;*/


*{
    margin: 0;
    padding: 0;
    font-family:'Playfair Display SC', serif;
}

.tituloInicial{
    height: 70px;
    text-align: center;
    font-size: 10;
    text-transform: uppercase;
    background-color:#21486C;
    color: whitesmoke;
    border: solid #030F2F;
    border-color: #656256;
    padding: 25px;
}

.tituloSecundario{
    height: 15px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    background-color:#21486C;
    color:#EBE2D8;
    border: solid #030F2F;
    border-color: #656256;
    padding: 15px;
}

.logo{
    width: 20rem;
}

#navegacion{
    font-size: 20px;
    border-style: dotted #21486C;
    text-transform: uppercase;
}

p{
    font-size: 22px;
}
h3,h4 {
    text-align: center;
    background-color: #21486C;
    color: #EBE2D8;
    border: solid #030F2F;
    font-size: 25px;
}

#seccionesOnline{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}


h5{
    background-color: black;
    color: #EBE2D8;
    font-size: 17px;
}

.tituloMision,.tituloVision,.quienesSomos,.ubicacionMatriz {
    text-align: center;
    background-color: #21486C;
    color: #EBE2D8;
    font-size: 25px;
    border: solid #030F2F;
}
.barra{
    color: black;
}




P{
    display: inline;
}

.gridContainerColumns{
    border: 5px solid black;
    background-color: whitesmoke;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    padding: 1px;
    border-radius: 15px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}
.boton1{
    color: whitesmoke;
    background-color: #31CB00;
}
.boton1:hover{
    color: whitesmoke;
    background-color: red;
    font-size: 25px;
}
.boton2{
    color:black;
    background-color: #31CB00;
}
.boton2:hover{
    color: black;
    background-color: red;
}
.barraNavegacion{
    justify-content: space-evenly;
    display: flex;
    background-color:whitesmoke;
    height: 67px;
    border: 1rem;
    font-size: 20px;
    color:black;
    border-style: double;
    border-color: #21486C;
    border-radius: 2rem;

    list-style: none;

}

.nav_item{
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;
    border-color: black;
    border-radius: 25px;

    list-style: none;
}
.nav_item:hover{
    background-color: #7F7F7F;
    flex-shrink: 0;
}
.sucursalesMEX{
    text-align: center;
    font-size: 20px;
}
.logo2 {
    width: 37px;
}
.munecoBusqueda{
    width: 29px;
}






@media only screen and (min-width: 320px) and (max-width: 500px)  { 
    body{
        background-color: #31CB00;
    }
    .barraNavegacion{
        gap: 1rem;
        background-color: #0a0a0a;
        color: aliceblue;
        border-style: dotted;
        border-color: #EBE2D8;
    }
    .barra{
        color: #EBE2D8;
    }
    
}
@media only screen and (min-width: 501px) and (max-width: 1000px)  { 
    body{
        background-color: #FFFC31;
        justify-content: space-evenly;
    }
    
}
@media only screen and (min-width: 1001px) and (max-width: 1440px)  { 
    body{
        background-color:rgb(245, 245, 245);
    }
    
}







