@import url('https://fonts.googleapis.com/css2? family= Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900 & display=swap');

/* familia de fuentes: 'Playfair Display SC', serif;*/


*{
    margin: 0;
    padding: 0;
    font-family:'Playfair Display SC', serif;
}

.tituloInicial{
    height: 20px;
    text-align: center;
    font-size: 30;
    text-transform: uppercase;
    background-color:#21486C;
    color:#EBE2D8;
    border: solid #030F2F;
    border-color: #656256;
    padding: 15px;
}
.tituloInicial::first-letter{
    color: #0a0a0a; 
    font-size: 36px;
}
.tituloSecundario{
    height: 20px;
    text-align: center;
    font-size: 35;
    text-transform: uppercase;
    background-color:#21486C;
    color:#EBE2D8;
    border: solid #030F2F;
    border-color: #656256;
    padding: 15px;
}

.logo{
    width: 20rem;
}

#navegacion{
    font-size: 20px;
    border-style: dotted #21486C;
    text-transform: uppercase;
}

p{
    font-size: 22px;
}
h3,h4 {
    text-align: center;
    background-color: #21486C;
    color: #EBE2D8;
    border: solid #030F2F;
    font-size: 25px;
}

#seccionesOnline{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}


h5{
    background-color: black;
    color: #EBE2D8;
    font-size: 17px;
}

.tituloMision,.tituloVision,.quienesSomos,.ubicacionMatriz {
    text-align: center;
    background-color: #21486C;
    color: #EBE2D8;
    font-size: 25px;
    border: solid #030F2F;
}




.barra{
    color:#0a0a0a
}

P{
    display: inline;
}

.barraNavegacion{
    gap: 3px;
    display: flex;
    background-color:whitesmoke;
    height: 40px;
    border: 1rem;
    font-size: 25px;
    color:black;
    border-style: double;
    border-color: #21486C;

    list-style: none;

}

.nav_item{
    flex-grow: 1;
    flex-shrink: 0;
    list-style: none;
    border-style: double;
    border-color: black;

    list-style: none;
}
.nav_item:hover{
    background-color: #7F7F7F;
    flex-shrink: 0;
}
.sucursalesMEX{
    text-align: center;
    font-size: 20px;
}
.logo2 {
    width: 36px;
}
.muñecoBusqueda{
    width: 20px;
}



